<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="link.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <style>

    </style>
</head>

<body>
    <div class="header">
        <div class="container">
            <img class='logo' src="logo.png" alt="">
            <div class="links">
                <span class="icon">
                    <span></span><span></span><span></span>
                </span>
                <ul>
                    <li>Services</li>
                    <li>Portflio</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="landing">
        <div class="text-intro">
            <h1>Hello There</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, animi sit amet consectetur!</p>
        </div>
    </div>
    <div class="features">
        <div class="container">
            <div class="feat">
                <i class="fas fa-american-sign-language-interpreting"></i>
                <h2>tell us your idea</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, nam!</p>
            </div>
            <div class="feat">
                <i class="fas fa-balance-scale-right"></i>
                <h2>we will do all the work</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime perferendis nulla facere, excepturi sed architecto?</p>
            </div>
            <div class="feat">
                <i class="fas fa-battery-half"></i>
                <h2>your product is worldwide</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum necessitatibus asperiores fuga!</p>
            </div>
        </div>
    </div>
    <div class="special">
        <h1> Services</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
    </div>
    <div class="services">
        <div class="container">
            <div class="col">
                <div class="content">
                    <i class="fas fa-address-card"></i>
                    <div class="text">
                        <h3>Graphic Design</h3>
                        <p>Lorem ipsum dolor, sit amet consecttempora officipelladiandae maiores officia quo eius necessitatibus pariatur.</p>
                    </div>
                </div>
                <div class="content">
                    <i class="fab fa-adversal"></i>
                    <div class="text">
                        <h3>Digital Electronics</h3>
                        <p>Lorem ipsum dolor, sit amet consecttempora officipelladiandae maiores officia quo eius necessitatibus pariatur.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="content">
                    <i class="fab fa-asymmetrik"></i>
                    <div class="text">
                        <h3>Programming</h3>
                        <p>Lorem ipsum dolor, sit amet consecttempora officipelladiandae maiores officia quo eius necessitatibus pariatur.</p>
                    </div>
                </div>
                <div class="content">
                    <i class="fas fa-atom"></i>
                    <div class="text">
                        <h3>UI & UX</h3>
                        <p>Lorem ipsum dolor, sit amet consecttempora officipelladiandae maiores officia quo eius necessitatibus pariatur.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="https://picsum.photos/250" alt="">
            </div>
        </div>
    </div>
    <div class="special">
        <h1> Portflio</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
    </div>
    <div class="portflio">
        <div class="container">
            <div class="card">
                <img src="https://picsum.photos/300/250" alt="">
                <div class="info">
                    <h3>work here</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, necessitatibus?</p>
                </div>
            </div>
            <div class="card">
                <img src="https://picsum.photos/300/250" alt="">
                <div class="info">
                    <h3>work here</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, necessitatibus?</p>
                </div>
            </div>
            <div class="card">
                <img src="https://picsum.photos/300/250" alt="">
                <div class="info">
                    <h3>work here</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, necessitatibus?</p>
                </div>
            </div>
        </div>
    </div>
    <script src='script.js'></script>
</body>

</html>